:root{
    --turquesa: #17a3b8;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
}

a:link, a:visited, a:active{
   color: #ffffff;

}

footer{
    background-color: var(--turquesa);
}

hr{
    border: solid 2px;
    color: var(--turquesa);
    margin: 1rem 1rem;
}

p{
    font-weight: 400;
}


.bg-custom{
    background-color: var(--turquesa)
}

.image-customize{
    height: 12.25rem;
}

.card-color{
    background-color: var(--turquesa);
}

.card-custom{
    border: 0;
    padding: 0;
}

.carousel-position{
    top: 3.5rem;
}

.centrado{
    margin: 0 auto;
}

.centrado-footer{
    text-align: center;
    width: 75%;
}

.centrado-nav{
    margin: 0 auto;
    width: 87.5%;

}

#centrado-principal{
    margin: 0 auto;
    width: 87.5%;

}

.custom-carousel-img{
    height: 65%;
}

.custom-font{
    background-color: var(--turquesa);
    text-align: center;
    width: 100%;
}

.footer-element{
    display: inline-block;
}


.logo-footer{
    font-size: 2rem;
    margin-right: 8rem;
}

.logo-footer-lg{
    font-size: 2rem;
    margin-right: 16rem; 
}

.logo-navbar{
    height: 2rem;
    width: 2rem;
}

.mobile-footer-elements{
    margin: 0 auto;
}

.navbar-custom-items{
    display: inline-block;
}

.navbar-font{
    color: #ffffff;
}

.posicion-bloques{
    margin-top: 2rem;
}

.subtitulo{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 6rem;
    text-align: center;
}

