:root{
    --turquesa: #17a3b8;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: var(--turquesa);
}

hr{
    margin: 1rem 1rem;
}

.card-color{
    background-color: var(--turquesa);
}

.centrado{
    margin: 0 auto;
}

.custom-font{
    background-color: var(--turquesa);
    width: 100%;
}

.logo-navbar{
    height: 2rem;
    width: 2rem;
}

.subtitulo{
    text-align: center;
}